<div class="dashboard-container">
    <mat-card class="toggle-card">
        <div class="view-toggle">
            <mat-slide-toggle [(ngModel)]="isYearlyView" (change)="onViewToggle()">
                ดูเฉพาะปี
            </mat-slide-toggle>
        </div>
        <div class="year-select">
            <mat-form-field appearance="fill">
                <mat-label>เลือกปี</mat-label>
                <mat-select [(ngModel)]="selectedYear" (selectionChange)="onViewChange()">
                    <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div *ngIf="!isYearlyView" class="month-select">
            <mat-form-field appearance="fill">
                <mat-label>เลือกเดือน</mat-label>
                <mat-select [(ngModel)]="selectedMonth" (selectionChange)="onViewChange()">
                    <mat-option *ngFor="let month of months" [value]="month">{{ month }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-card>

    <div class="stats-container">
        <mat-card class="stat-card">
            <h2>รายจ่ายทั้งหมด</h2>
            <p class="amount negative">{{ getTotalExpenses() + " บาท"}}</p>
        </mat-card>
        <mat-card class="stat-card">
            <h2>รายได้ทั้งหมด</h2>
            <p class="amount positive">{{ getTotalIncome() + " บาท" }}</p>
        </mat-card>
    </div>

    <div class="charts-container">
        <mat-card class="chart-card">
            <h2>รายจ่าย และ รายได้ </h2>
            <ngx-charts-bar-vertical-2d
                [view]="[700, 400]"
                [results]="barChartData"
                [gradient]="true"
                [xAxis]="true"
                [yAxis]="true"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                xAxisLabel="Period"
                yAxisLabel="Amount ($)"
                [barPadding]="2"
                [groupPadding]="8"
                [roundDomains]="true"
                [scheme]="'cool'"
            >
            </ngx-charts-bar-vertical-2d>
        </mat-card>

        <mat-card class="chart-card">
            <h2>สรุปยอดขายตามประเภทสินค้า</h2>
            <ngx-charts-pie-chart
                [view]="[700, 400]"
                [results]="pieChartData"
                [gradient]="true"
                [labels]="true"
                [scheme]="'cool'"
                [doughnut]="false"
            >
            </ngx-charts-pie-chart>
        </mat-card>
    </div>
</div>
